/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: fa5-proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
